body {
	font-family: calibri;
	text-align: center;
	background: linear-gradient(-45deg, #DCF8EF, #FEE2F8, #96afff, #eeefff);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}


/*main css*/

.main {
	width: 100%;

}

.main-center {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.intro {
	margin-top: 30px;
}

.intro h1 {
	font-size: 200%;
}

.dropdown {
	padding: 20px;
	background-color: #eeefff;
	border-radius: 20px;
	box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 5) inset;
}

.dropdown select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	padding: 12px 20px;
}

.dropdown input[type=submit] {
	color: white;
	padding: 12px 20px;
	border: 0px;
	border-radius: 10px;
	background-color: #3f5cbc;
}

.dropdown label {
	text-align: left;
}

.dropdown form {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
}

.dropdown button {
	color: white;
	background-color: #3f5cbc;
	border: none;
	border-radius: 10px;
	font-weight: bold;
	cursor: pointer;
}

.dropdown button:hover {
	background-color: #1e40af;
}

.shops {
	align-items: center;
	justify-content: center;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 30% 30% 30%;
}


.shop {
	background-color: #ffffff;
	text-align: left;
	border-radius: 10px;
	padding: 20px 20px 20px 50px;
	line-height: 17pt;
}

.shop:hover {
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.back {
	margin-top: 20px;
}

.back a {
	text-decoration: none;
	color: white;
	padding: 10px 20px;
	background-color: #3f5cbc;
	border-radius: 10px;
	font-weight: bold;
}

.back a:hover {
	background-color: #1e40af;
}

.explain a {
	text-decoration: none;
	color: white;
	padding: 5px 10px;
	background-color: black;
	border-radius: 10px;
	font-weight: bold;
}

body .navcities {
	color: #3f5cbc;
}