body {
	font-family: calibri;
	text-align: center;
	background: linear-gradient(-45deg, #DCF8EF, #FEE2F8, #96afff, #eeefff);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

/*main css*/
.shops {
	align-items: center;
	justify-content: center;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 40% 40%;
}


.shop {
	background-color: #ffffff;
	text-align: left;
	border-radius: 10px;
	padding: 20px 20px 20px 50px;
	line-height: 17pt;
}

.shop:hover {
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.back {
	margin-top: 20px;
}

.back a {
	text-decoration: none;
	color: white;
	padding: 10px 20px;
	background-color: #3f5cbc;
	border-radius: 10px;
	font-weight: bold;
}

.back a:hover {
	background-color: #1e40af;
}

.explain a {
	text-decoration: none;
	color: white;
	padding: 5px 10px;
	background-color: black;
	border-radius: 10px;
	font-weight: bold;
}

body .navproducts {
	color:#3f5cbc;
}