<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="ISO-8859-1">
	<title>About Us</title>
	<link rel="stylesheet" th:href="@{/css/header.css}" />
	<link rel="stylesheet" th:href="@{/css/about.css}" />
</head>

<body>
	<div th:replace="header :: header"></div>
	
	<div class="main">
		<div class="intro">
			<h1>Project Members</h1>
		</div>
		<div class="members">
			<a target="_blank" href="https://github.com/harshap0202/">
				<div class="about">
					<h3>Harshwardhan Patil</h3>
				</div>
			</a>
			<div class="about">
				<h3>Dhanashri Barde</h3>
			</div>
			<div class="about">
				<h3>Abhinav Tiwari</h3>
			</div>
		</div>
	</div>

	<div th:replace="footer :: footer"></div>
</body>

</html>