<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Products</title>
	<link rel="stylesheet" th:href="@{/css/header.css}" />
	<link rel="stylesheet" th:href="@{/css/finalproducts.css}" />
</head>

<body>

	<div th:replace="header :: header"></div>

	<div class="main">
		<div class="intro">
			<h1>Select your options</h1>
		</div>
		<div class="dropdown">
			<form id="searchForm" method="get" action="/searchShop" onsubmit="return validateForm()">
				<label for="cityDropdown">City:</label>
				<select id="cityDropdown" name="city">
					<option value=""></option>
					<option value="Nashik">Nashik</option>
					<option value="Amravati">Amravati</option>
					<option value="Mumbai">Kanpur</option>
				</select>
				<br><br>
				<label for="deviceDropdown">Device Company :</label>
				<select id="deviceDropdown" name="device">
					<option value=""></option>
					<option th:each="device : ${devices}" th:value="${device.deviceName}"
						th:text="${device.deviceName}">
					</option>
				</select>
				<br><br>
				<label for="hardwareDropdown">Hardware Problem :</label>
				<select id="hardwareDropdown" name="hardware">
					<option value=""></option>
					<option th:each="hardwareIssue : ${hardwareIssues}" th:value="${hardwareIssue.hwIssueName}"
						th:text="${hardwareIssue.hwIssueName}"></option>
				</select>
				<br><br>
				<label for="softwareDropdown">Software Issue :</label>
				<select id="softwareDropdown" name="software">
					<option value=""></option>
					<option th:each="softwareIssue : ${softwareIssues}" th:value="${softwareIssue.swIssueName}"
						th:text="${softwareIssue.swIssueName}"></option>
				</select>
				<br><br>
				<div class="submit-button">
					<button type="submit">Search Shop</button>
				</div>
			</form>
		</div>

		<div class="baselog">
			<a th:href="@{/learnmore}">Learn More</a>
		</div>
	</div>

	<div th:replace="footer :: footer"></div>

	<script>
		function validateForm() {
			var deviceDropdown = document.getElementById("deviceDropdown");
			var cityDropdown = document.getElementById("cityDropdown");

			if (deviceDropdown.value === "" || cityDropdown.value === "") {
				alert("City and Device are required");
				return false;
			}

			return true;
		}
	</script>


</body>

</html>