<footer class="footer"
	style="margin-top: 50px; border-top-left-radius: 20px; border-top-right-radius: 20px; background-color: #4f46e5; color: #b0b7f9; display: flex; align-items: center; justify-content: center; flex-direction: column;">
	<div class="basedata" style="padding-top: 50px; width: 40%;">
		<h3>Find Parts and Repairs shops</h3>
		<h1 style="color: white;">Locate shops for PC parts near you</h1>
		<h3 style="font-weight: lighter; font-size: 120%;">
			Easily find PC parts shops near you with our location-based search feature. View shop details and read user
			reviews to make informed decisions on where to buy your PC parts.
		</h3>
		<br>
		<a th:href="@{/learnmore}"
			style="text-decoration: none; background-color: #f9fafb; color: #111827; padding: 10px 20px; border-radius: 10px;">Learn More</a>
		<p>&copy; Final Project | March 2023 Batch | <b>PGDAC</b>, CDAC Noida</p>
	</div>
</footer>