<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="ISO-8859-1">
	<title>Home Page</title>
	<link rel="stylesheet" th:href="@{/css/header.css}" />
	<link rel="stylesheet" th:href="@{/css/index.css}" />
	<style>

	</style>
</head>

<body>
	<div th:replace="header :: header"></div>

	<div class="main">
		<div class="intro">
			<h1>Find the Best PC Repair Shops Near You</h1>
		</div>
		<div class="explain">
			<h3>Looking for the shops to repair your device? Look no further! Our website helps you locate the best
				shops
				near you.</h3>
		</div>
		<div class="baselog">
			<a th:href="@{/finalproducts}">Find Shops Now</a>
			<a th:href="@{/learnmore}">Learn More</a>
		</div>
	</div>

	<div th:replace="footer :: footer"></div>
</body>

</html>