<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Shop Details</title>
	<link rel="stylesheet" th:href="@{/css/header.css}" />
	<link rel="stylesheet" th:href="@{/css/shopDetails.css}" />
</head>

<body>
	<div th:replace="header :: header"></div>

	<div class="main">
		<div class="shop-details">
			<div class="left">
				<h2 th:text="${shop.shopName}"></h2>
				<p th:text="${shop.shopData}"></p>
				<table>
					<tr>
						<th colspan="2">Contact Details - </th>
					</tr>
					<tr>
						<td>☎ : </td>
						<td><span th:text="${shop.phone}"></span></td>
					</tr>
					<tr>
						<td>✉ : </td>
						<td><span th:text="${shop.email}"></td>
					</tr>
					<tr class="directions">
						<td colspan="2"><a target="_blank" th:href="${shop.map}">↗ Get Directions</a></td>
					</tr>
				</table>
			</div>
			<div class="right">
				<img th:src="${shop.image}">
			</div>
		</div>
		<button onclick="goBack()">Go Back to Shop List</button>

	</div>

	<div th:replace="footer :: footer"></div>

	<script>
		function goBack() {
			window.history.back();
		}
	</script>
</body>

</html>