<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Sign Up</title>
	<link rel="stylesheet" th:href="@{/css/signup.css}" />
</head>

<body>
	<div class="header">
		<div class="logo">
			<a th:href="@{/}"><img th:src="@{logo/logo.png}" width="150px"></a>
		</div>
	</div>

	<h1>Sign Up</h1>
	<div class="signup-box" align="center">
		<br />
		<form th:action="@{/signup}" th:object="${user}" method="post">
			<table border="0">
				<tr>
					<td>Username:</td>
					<td><input type="text" th:field="*{username}" /></td>
				</tr>
				<tr>
					<td>Email:</td>
					<td><input type="email" th:field="*{email}" /></td>
				</tr>
				<tr>
					<td>Password:</td>
					<td><input type="password" th:field="*{password}" /></td>
				</tr>
				<br>
				<tr>
					<td colspan="2" class="button-cell"><button type="submit" style="margin-top:30px;">Sign Up</button>
					</td>
				</tr>
			</table>
		</form>
		<br>
		<div class="login">
			<a th:href="@{/login}">Already Registered? Click here to Login</a>
		</div>
	</div>
</body>

</html>