<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>User Listing</title>
	<link rel="stylesheet" th:href="@{/css/header.css}" />
	<link rel="stylesheet" th:href="@{/css/user_listing.css}" />
</head>

<body>
	<div th:replace="header :: header"></div>

	<div class="mainbox" align="center">
		<h1>User Listing</h1>
		<br />
		<table class="user">
			<thead>
				<tr>
					<th>User ID</th>
					<th>Username</th>
					<th>Email</th>
					<th> </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${userList}">
					<td th:text="${user.id}">User ID</td>
					<td th:text="${user.username}">Username</td>
					<td th:text="${user.email}">Enabled</td>
					<td>
						<a th:href="@{'/edit/' + ${user.id}}">✏ Edit</a>
						&nbsp;&nbsp;
						<a th:href="@{'/delete/' + ${user.id}}" style="color: red;">❌ Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>